body {
    margin: 0;
    padding: 0;
    background: grey;
    text-align: center
}

.box {
    width: 40%;
    font-family: "Courier New";
    color: white;
    background: #0F2308;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 80%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New";
    color: white;
    background: #0F2308;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New";
    color: white;
    background: black;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


